@mixin tablet {
  @media screen and (min-width: 481px) {
    @content
  }
}

@mixin desktop {
  @media screen and (min-width: 993px) {
    @content
  }
}

@mixin flex ($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
