@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

@import "components/mixins";
@import "components/variables";
@import "sections/header";
@import "sections/revolution-sec";
@import "sections/what-you-get-sec";
@import "sections/about-fork-sec";
@import "sections/pricing-sec";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 320px;

  section {
    padding: 0 10px;
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}


